.wallet-box {
  border: 2px solid #dfdfdfd2;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  color: black;
}

.wallet-box h2 {
  color: black;
}

.wallet-box p {
  color: black;
}

.wallet-box strong {
  color: black;
}
