name: PVM UnitTests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.12'
      - name: Install SDK dependencies
        working-directory: ./sdk
        run: yarn install
      - name: Install PVM dependencies
        working-directory: ./pvm/ts
        run: yarn install
      - name: Run PVM tests
        working-directory: ./pvm/ts
        run: yarn test
